%p#notice= notice

%p
  %b Album:
  = @image.album_id
%p
  %b Description:
  = @image.description
%p
  %b Title:
  = @image.title
%p
  %b Resourse
  = image_tag(@image.image_src.url) if @image.image_src?

= link_to 'Edit', edit_image_path(@image)
\|
= link_to 'Back', images_path
